@model ShopDemo.Models.Domain.Item

<div class="d-flex flex-column">
    <span><strong>Name: </strong>@Model.Name</span>
    <span><strong>Quanity: </strong>@Model.Quantity</span>
    <span><strong>Color: </strong>@Model.Color</span>
</div>
